.hero{
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.hero-foot, .hero-head {
  flex-grow: 0;
  flex-shrink: 0;
}

.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}

@me